# yi-hack-Allwinner-v2 post-flash settings reference
# After flashing, open http://10.0.0.161 and apply these settings:
#
# System > Hostname       : yicam-wolff
# Streaming > RTSP        : enabled, port 554
# Streaming > RTSP auth   : disabled (or set user/pass)
# System > SSH            : enabled
# System > HTTP           : enabled, port 80
# MQTT > Host             : 10.0.0.112
# MQTT > Port             : 1883
# MQTT > Topic prefix     : yicam/yhs3017
# Cloud > Disable cloud   : YES
#
# RTSP URLs after flashing:
#   rtsp://10.0.0.161/ch0_0.h264   (high res 1080p)
#   rtsp://10.0.0.161/ch0_1.h264   (low res)
